<!doctype html>
<html>
<head>
    <title>WebSSH</title>
    <link rel="stylesheet" href="/static/css/xterm.css"/>

</head>
<body>
<div th:include="components/header :: header"></div>
<div id="terminal" style="width: 100%;height: 70%"></div>
<div class="drop-file" style="height: 20%;width: 100%; " id="file-main">
    <div style="height:20%;background-color: #00af5f">
        <div id="file"></div>
    </div>
</div>
<input type="hidden" th:value="${ipnet}" name="ipnet">
<input type="hidden" th:value="${username}" name="username">
<input type="hidden" th:value="${port}" name="port">
<input type="hidden" th:value="${password}" name="password">
<input type="hidden" th:value="${address}" name="address">
<div class="layui-row">
    <div class="layui-col-sm12 layui-col-md12 zyl_center zyl_mar_01">
        © 2022 - xxxx 登陆界面版权所有
    </div>
</div>
<script src="/static/js/drop.js" charset="utf-8"></script>
<script src="/static/js/js.cookie.js" charset="utf-8"></script>
<script>

    var obj = getParam();

    function getParam() {
        return {
            username: $("input[name=username]").val(),
            port: $("input[name=port]").val(),
            encrypt: $("input[name=password]").val(),
            ipnet: $("input[name=ipnet]").val()
        }
    }

    let password = obj.encrypt;
    openTerminal({
        operate: 'connect',
        host: obj.ipnet,//IP
        port: obj.port,//端口号
        username: 'root',//用户名
        password: password //密码
    });

    function openTerminal(options) {
        var client = new WSSHClient();
        var term = new Terminal({
            cols: 200,
            rows: 50,
            cursorBlink: true, // 光标闪烁
            cursorStyle: "block", // 光标样式  null | 'block' | 'underline' | 'bar'
            scrollback: 800, //回滚
            tabStopWidth: 10, //制表宽度
            screenKeys: true
        });

        term.on('data', function (data) {
            //键盘输入时的回调函数
            client.sendClientData(data);
        });

        term.open(document.getElementById('terminal'));
        //在页面上显示连接中...
        term.write('Connecting...');

        client.setHost($('input[name=address]').val())
        //执行连接操作
        client.connect({
            onError: function (error) {
                //连接失败回调
                term.write('Error: ' + error + '\r\n');
            },
            onConnect: function () {
                //连接成功回调
                client.sendInitData(options);
                // 将client对象写入到全局
                initClient(client, term);
            },
            onClose: function () {
                //连接关闭回调
                term.write("\rconnection closed");
            },
            onData: function (data) {
                console.log(data)
                if (data == '\r\nlogout\r\n') {
                    Cookies.remove('password');
                    Cookies.remove('username');
                    // 退出
                    window.location.href='/';
                }
                //收到数据时回调
                term.write(data);

            }
        });
    }
</script>
</body>
</html>